API_KEY="..."
AZURE_ENDPOINT="https://sample.openai.azure.com/"
# cf. https://github.com/Azure/azure-rest-api-specs/tree/main/specification/cognitiveservices/data-plane/AzureOpenAI/inference
API_VERSION="2025-04-01-preview"
